@import "tailwindcss";

@theme {
  --color-background: #121212;
  --color-surface: #1A1A24;
  --color-lavender: #B39DDB;
  --color-lavender-hover: #9575CD;
  --color-mint: #69F0AE;
  --color-mint-hover: #4ADE80;
  --color-text-main: #FFFFFF;
  --color-text-muted: #A0A0A0;
}

/* Применяем темный фон и белый текст ко всему сайту по умолчанию */
@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-text-main);
  }
}